# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
venv/
ENV/
*.egg-info/
*.egg
# VSCode
.vscode/
# Jupyter
.ipynb_checkpoints/
# OS
.DS_Store
Thumbs.db
# Logs
*.log
# Test
/tests/
# Docs
/docs/
